{% extends 'base.html' %}

{% load static %}

{% block title %} Pesquisar Endereço {% endblock %}

{% block main %}

{% include 'navbar.html' %}

<center><h3>Pesquise o seu CEP</h3></center>

{% include 'mensagens.html' %}

<div class="container">
    <form></label>
        <label>Cep:</label>
        <input class="form-control" id="text" type="search" name="zipcode" placeholder="CEP.." value="{{ zipcode }}" maxlength="8" required>
        <button class="mybutton" id="copy"><i class="fa fa-clone" aria-hidden="true" title="Copiar"></i></button>
        <br>
        <label>Endereço:</label>
        <input class="form-control" id="text1" type="text" name="address" placeholder="Endereço" value="{{ address }}">
        <button class="mybutton1" id="copy1"><i class="fa fa-clone" aria-hidden="true" title="Copiar"></i></button>
        <br>
        <label>Cidade:</label>
        <input class="form-control" id="text2" type="text" name="city" placeholder="Cidade" value="{{ city }}">
        <button class="mybutton2" id="copy2"><i class="fa fa-clone" aria-hidden="true" title="Copiar"></i></button>
        <br>
        <label>Estado:</label>
        <input class="form-control" id="text3" type="text" name="state" placeholder="Estado" value="{{ state }}">
        <button class="mybutton3" id="copy3"><i class="fa fa-clone" aria-hidden="true" title="Copiar"></i></button>
        <br>
        <button type="submit">Buscar</button>
    </form>
</div>


<script type="text/javascript">
    const textInput = document.getElementById('text');
    const copyButton = document.getElementById('copy');

    copyButton.addEventListener('click', ()=> {
      textInput.select();
      document.execCommand('copy');
    });
</script>

<script type="text/javascript">
    const textInput1 = document.getElementById('text1');
    const copyButton1 = document.getElementById('copy1');

    copyButton1.addEventListener('click', ()=> {
      textInput1.select();
      document.execCommand('copy');
    });
</script>

<script type="text/javascript">
    const textInput2 = document.getElementById('text2');
    const copyButton2 = document.getElementById('copy2');

    copyButton2.addEventListener('click', ()=> {
      textInput2.select();
      document.execCommand('copy');
    });
</script>

<script type="text/javascript">
    const textInput3 = document.getElementById('text3');
    const copyButton3 = document.getElementById('copy3');

    copyButton3.addEventListener('click', ()=> {
      textInput3.select();
      document.execCommand('copy');
    });
</script>
{% endblock %}