{% extends 'base.html' %}

{% load static %}

{% block title %} Pedidos {% endblock %}

{% block main %}

{% include 'loader.html' %}

{% include 'navbar.html' %}

<center><h3>Pedidos</h3></center>
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form" action="{% url 'pedidos' %}" method="POST">
					{% csrf_token %}
					<center><h5>Dados Pessoais</h5></center>
					<hr>
					<div id="user-info">
						<div class="form-label-group">
							<input required class="form-control" type="text" name="name" placeholder="Nome.." value="{{ user.username }}" title="Insira seu nome">
							<label for="inputUser">Usuário</label>
						</div>
						<div class="form-label-group">
							<input required class="form-control" type="email" name="email" placeholder="Email.." value="{{ user.email }}" title="Insira seu email">
							<label for="inputUser">Email</label>
						</div>
					</div>
					
					<div id="shipping-info">
						<hr>
						<center><h5>Informações para entrega</h5></center>
						<hr>
						<div class="form-label-group">
							<input required class="form-control" type="text" name="address" placeholder="Endereço.." id="address" value="{{ user.endereco }}">
							<label for="inputUser">Endereço</label>
						</div>
						<div class="form-label-group">
							<input required class="form-control" type="text" name="city" placeholder="Cidade.." id="city" value="{{ user.cidade }}">
							<label for="inputUser">Cidade</label>
						</div>
						<div class="form-label-group">
							<input required type="text" name="district" class="form-control" id="district" value='{{ user.bairro }}' placeholder="Bairro" >
							<label for="inputUser">Bairro</label>
							<p class="text_muted2">{{ form.bairro.help_text }}</p>
						</div>
						<div class="form-label-group">
							<input required class="form-control" type="text" name="state" placeholder="Estado.." id="state" value="{{ user.estado }}">
							<label for="inputUser">Estado</label>
						</div>
						<p id="error-message" style="display: none;"></p>
						<div class="form-label-group">
							<input required class="form-control" type="text" name="zipcode" placeholder="CEP.." id="cep-input" value="{{ user.cep }}" maxlength="8">
							<label for="inputUser">CEP</label>
						</div>
					</div>

					<hr>

					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Opções</small>
				<div id="paypal-button-container"></div>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Voltar ao Carrinho</a>
		<hr>
		<center><h3>Lista de pedidos</h3></center>
		<hr>

		<center><div class="cart-row">
			<div style="flex:1"><strong>Imagem</strong></div>
			<div style="flex:1"><strong>Item</strong></div>
			<div style="flex:1"><strong>Preço</strong></div>
			<div style="flex:1"><strong>Quantitade</strong></div>
		</div></center>

		{% for item in itens %}
		<center><div class="cart-row">
			<div style="flex:1"><img class="row-image" src="{{ item.produto.image_url|default_if_none:'/static/imagens/2+placeholder.png' }}"></div>
			<div style="flex:1"><p>{{ item.produto.nome }}</p></div>
			<div style="flex:1"><p>R$ {{ item.produto.preco }}</p></div>
			{% if item.quantidade <= 1 %}
			<div style="flex:1"><p>{{ item.quantidade }} unidade</p></div>
			{% else %}
			<div style="flex:1"><p>{{ item.quantidade }} unidades</p></div>
			{% endif %}
		</div></center>
		{% endfor %}

			{% if pedido.pegar_carrinho_itens <= 1 %}
			<h5>Item: {{ pedido.pegar_carrinho_itens }}</h5>
			{% else %}
			<h5>Itens: {{ pedido.pegar_carrinho_itens }}</h5>
			{% endif %}
			<h5>Total: R$ {{ pedido.pegar_carrinho_total }}</h5>
			<br>
			<b><p>Email para teste de pagamento:</b> teste.teste@personal.example.com</p>
			<b><p>Senha:</b> 12345678</p>
			</div>
		</div>
	</div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=AXUbdkAIbLJ6Njuq4mXVbxCM6AqEGMKQZueHqV6fbuRxOjN20BxOh3kvbsHU_DU-HIcSfV9dKpyzVDn4&currency=BRL&disable-funding=mercadopago,card"></script>

<script type="text/javascript">
	var total = '{{ pedido.pegar_carrinho_total|escapejs }}'
	paypal.Buttons({
		// optional styling for buttons
		// https://developer.paypal.com/docs/checkout/standard/customize/buttons-style-guide/
		style: {
		  color: "blue",
		  shape: "rect",
		  layout: "vertical"
		},

		createOrder: (data, actions) => {
			const createOrderPayload = {
				purchase_units: [
					{
						amount: {
							value: total
						}
					}
				]
			};
			return actions.order.create(createOrderPayload);
		},

		// finalize the transaction
		onApprove: function(data, actions) {
			return actions.order.capture().then(function(details){
				submitFormData()
			});
		}
	}).render("#paypal-button-container");

</script>

<script type="text/javascript">
	var envio = '{{ pedido.envio }}'
	if (envio == 'False'){
		document.getElementById('shipping-info').innerHTML = ''
	}

	if (envio == 'False' && user != 'AnonymousUser'){
		document.getElementById('form-wrapper').classList.add('hidden');
		document.getElementById('payment-info').classList.remove('hidden');
	}

	var form = document.getElementById('form')
	form.addEventListener('submit', function(e){
		e.preventDefault()
		document.getElementById('form-button').classList.add('hidden');
		document.getElementById('payment-info').classList.remove('hidden');
	})

	function submitFormData(){

		var userFormData = {
			'name':null,
			'email':null,
			'total': total,
		}

		var envioInfo = {
			'address':null,
			'city':null,
			'district':null,
			'state': null,
			'zipcode': null,
		}

		if (envio != 'False'){
			envioInfo.address = form.address.value
			envioInfo.city = form.city.value
			envioInfo.district = form.district.value
			envioInfo.state = form.state.value
			envioInfo.zipcode = form.zipcode.value
		}

		if (user == 'AnonymousUser'){
			userFormData.name = form.name.value
			userFormData.email = form.email.value
		}

		var url = '/processo_pedido/'
		fetch(url,{
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'X-CSRFToken': csrftoken,
			},
			body: JSON.stringify({'form': userFormData, 'envio': envioInfo})
		})
		.then((response) => {
			response.json()
		})
		.then((data) => {
			console.log("Sucesso:", data);
			alert('Transação Completada!')
			cart = {}
			document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
			window.location.href = "{% url 'home' %}"
		})
	}
</script>

<script type="text/javascript">
	const cepInput = document.getElementById("cep-input");
	const errorMessage = document.getElementById("error-message");

	cepInput.addEventListener("input", function () {
		if (/^\d{0,8}$/.test(cepInput.value)) {
		if (cepInput.value.length === 8) {
    const xhr = new XMLHttpRequest();
    xhr.open("GET", `https://cep.awesomeapi.com.br/json/${cepInput.value}`);
    xhr.onreadystatechange = function () {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
          const data = JSON.parse(xhr.responseText);
          errorMessage.style.display = "none";
          	document.getElementById("address").value = data.address;
			document.getElementById("city").value = data.city;
			document.getElementById("district").value = data.district;
			document.getElementById("state").value = data.state;
			console.log(data)
			console.log(data.address)
			console.log(data.city)
			console.log(data.state)
        } else {
          errorMessage.style.display = "block";
          errorMessage.textContent = "CEP inválido";
        }
      }
    };
    xhr.send();
	}
	}
	else{
        errorMessage.style.display = "block";
        errorMessage.textContent = "Digite apenas números!";
        cepInput.value = cepInput.value.replace(/[^\d]/g, "");
    }
	});

</script>
{% endblock %}