{% extends 'base.html' %}

{% load static %}

{% block title %} Pedidos {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

{% include 'navbar.html' %}

<center><h3>Pedidos</h3></center>
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form" action="{% url 'pedidos' %}">
					{% csrf_token %}
					<center><h5>Dados Pessoais</h5></center>
					<hr>
					<div id="user-info">
						<div class="form-field">
							<input required class="form-control" type="text" name="name" placeholder="Nome.." value="{{ user.username }}" title="Insira seu nome">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email.." value="{{ user.email }}" title="Insira seu email">
						</div>
					</div>
					
					<div id="shipping-info">
						<hr>
						<center><h5>Informações para entrega</h5></center>
						<hr>
						<div class="form-label-group">
							<input required class="form-control" type="text" name="address" placeholder="Endereço.." id="address" value="{{ user.endereco }}">
							<label for="inputUser">Endereço</label>
						</div>
						<div class="form-label-group">
							<input required class="form-control" type="text" name="city" placeholder="Cidade.." id="city" value="{{ user.cidade }}">
							<label for="inputUser">Cidade</label>
						</div>
						<div class="form-label-group">
							<input required class="form-control" type="text" name="state" placeholder="Estado.." id="state" value="{{ user.estado }}">
							<label for="inputUser">Estado</label>
						</div>
						<div class="form-label-group">
							<input required class="form-control" type="number" name="zipcode" placeholder="CEP.." id="cep-input" value="{{ user.cep }}">
							<label for="inputUser">CEP</label>
							<button class="button2" type="button" id="search-button"><i class="fa fa-search" aria-hidden="true" 
                            title="Buscar CEP"></i></button>
						</div>
					</div>

					<hr>

					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Opções</small>
				<div id="paypal-button-container"></div>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Voltar ao Carrinho</a>
		<hr>
		<center><h3>Lista de pedidos</h3></center>
		<hr>

		<center><div class="cart-row">
			<div style="flex:1"><strong>Imagem</strong></div>
			<div style="flex:1"><strong>Item</strong></div>
			<div style="flex:1"><strong>Preço</strong></div>
			<div style="flex:1"><strong>Quantitade</strong></div>
		</div></center>

		{% for item in itens %}
		<center><div class="cart-row">
			<div style="flex:1"><img class="row-image" src="{{ item.produto.image_url }}"></div>
			<div style="flex:1"><p>{{ item.produto.nome }}</p></div>
			<div style="flex:1"><p>R$ {{ item.produto.preco }}</p></div>
			{% if item.quantidade <= 1 %}
			<div style="flex:1"><p>{{ item.quantidade }} unidade</p></div>
			{% else %}
			<div style="flex:1"><p>{{ item.quantidade }} unidades</p></div>
			{% endif %}
		</div></center>
		{% endfor %}

			<h5>Itens: {{ pedido.pegar_carrinho_itens }}</h5>
			<h5>Total: R$ {{ pedido.pegar_carrinho_total }}</h5>
			</div>
		</div>
	</div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=AXUbdkAIbLJ6Njuq4mXVbxCM6AqEGMKQZueHqV6fbuRxOjN20BxOh3kvbsHU_DU-HIcSfV9dKpyzVDn4&currency=BRL&disable-funding=mercadopago"></script>

<script>
	var total = parseInt('{{ pedido.pegar_carrinho_total }}')
	const paypalButtonsComponent = paypal.Buttons({
		// optional styling for buttons
		// https://developer.paypal.com/docs/checkout/standard/customize/buttons-style-guide/
		style: {
		  color: "gold",
		  shape: "rect",
		  layout: "vertical"
		},

		createOrder: (data, actions) => {
			const createOrderPayload = {
				purchase_units: [
					{
						amount: {
							value: parseFloat(total).toFixed(2)
						}
					}
				]
			};

			return actions.order.create(createOrderPayload);
		},

		// finalize the transaction
		onApprove: function(data, actions) {
			return actions.order.capture().then(function(details){
				submitFormData()
			});
		}
	}).render("#paypal-button-container");

</script>

<script type="text/javascript">
	var envio = '{{ pedido.envio }}'
	if (envio == 'False'){
		document.getElementById('shipping-info').innerHTML = ''
	}

	if (envio == 'False' && user != 'AnonymousUser'){
		document.getElementById('form-wrapper').classList.add('hidden');
		document.getElementById('payment-info').classList.remove('hidden');
	}

	var form = document.getElementById('form')
	csrftoken = form.getElementsByTagName("input")[0].value
	console.log('New_token:', form.getElementsByTagName("input")[0].value)
	form.addEventListener('submit', function(e){
		e.preventDefault()
		document.getElementById('form-button').classList.add('hidden');
		document.getElementById('payment-info').classList.remove('hidden');
	})

	function submitFormData(){
		console.log('Botao de pagamento ativado')

		var userFormData = {
			'name':null,
			'email':null,
			'total': total,
		}

		var envioInfo = {
			'address':null,
			'city':null,
			'state': null,
			'zipcode': null,
		}

		if (envio != 'False'){
			envioInfo.address = form.address.value
			envioInfo.city = form.city.value
			envioInfo.state = form.state.value
			envioInfo.zipcode = form.zipcode.value
		}

		if (user == 'AnonymousUser'){
			userFormData.name = form.name.value
			userFormData.email = form.email.value
		}

		var url = '/processo_pedido/'
		fetch(url,{
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'X-CSRFToken': csrftoken,
			},
			body: JSON.stringify({'form': userFormData, 'envio': envioInfo})
		})
		.then((response) => {
			response.json()
		})
		.then((data) => {
			console.log("Sucesso:", data);
			alert('Transação Completada!')
			cart = {}
			document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
			window.location.href = "{% url 'home' %}"
		})
	}
</script>
{% endblock %}