{% extends 'base.html' %}

{% load static %}

{% block title %} Editar Endereço {% endblock %}

{% block main %}

{% include 'loader.html' %}

{% include 'navbar.html' %}

{% include 'mensagens.html' %}

<center><h3>Editar dados pessoais de {{ user.username }}</h3></center><br>

<div class="container">
    <form method="POST" action="">
        {% csrf_token %}

        {% if form.username.errors %}
            {% for error in form.username.errors %}
                <p class='mytext'>{{ error }}</p>
            {% endfor %}
        {% endif %}
        <div class="form-label-group">
            <span class="fa fa-user envelope3"></span>
            <input required class="form-control" type="text" name="username" placeholder="Usuário" value="{{ user.username }}">
            <label for="inputUser">Usuário</label>
            <p class="text_muted2">{{ form.username.help_text }}</p>
        </div>

        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <p class='mytext'>{{ error }}</p>
            {% endfor %}
        {% endif %}
        <div class="form-label-group">
            <span class="fa fa-envelope envelope3"></span>
            <input required class="form-control" type="text" name="email" placeholder="Email" value="{{ user.email }}">
            <label for="inputUser">Email</label>
            <p class="text_muted2">Insira o seu email.</p>
        </div>

        <p id="error-message" style="display: none;"></p>
        <div class="form-label-group">
            <span class="fa fa-map-marker envelope3"></span>
            <input required class="form-control" type="text" name="cep" placeholder="CEP" id="cep-input" value="{{ user.cep }}" maxlength="8">
            <label for="inputUser">CEP</label>
            <p class="text_muted2">{{ form.cep.help_text }}</p>
        </div>

        <div class="form-label-group">
            <span class="fa fa-map-marker envelope3"></span>
            <input required class="form-control" type="text" name="endereco" placeholder="Endereço" id="address" value="{{ user.endereco }}">
            <label for="inputUser">Endereço</label>
            <p class="text_muted2">{{ form.endereco.help_text }}</p>
        </div>

        <div class="form-label-group">
            <span class="fa fa-map-marker envelope3"></span>
            <input required class="form-control" type="text" name="cidade" placeholder="Cidade" id="city" value="{{ user.cidade }}">
            <label for="inputUser">Cidade</label>
            <p class="text_muted2">{{ form.cidade.help_text }}</p>
        </div>

        <div class="form-label-group">
            <span class="fa fa-map-marker envelope3"></span>
            <input type="text" name="bairro" class="form-control" id="district" value='{{ user.bairro }}'
            placeholder="Cidade" autocapitalize= "off" required>
            <label for="inputUser">Bairro</label>
            <p class="text_muted2">{{ form.bairro.help_text }}</p>
        </div>

        <div class="form-label-group">
            <span class="fa fa-map-marker envelope3"></span>
            <input required class="form-control" type="text" name="estado" placeholder="Estado" id="state" value="{{ user.estado }}">
            <label for="inputUser">Estado</label>
            <p class="text_muted2">{{ form.estado.help_text }}</p>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'home' %}" class="btn btn-secondary mx-4" >Voltar</a>
        <br><br>
    </form>
</div>

<script type="text/javascript">
    const cepInput = document.getElementById("cep-input");
	const errorMessage = document.getElementById("error-message");

	cepInput.addEventListener("input", function () {
            if (/^\d{0,8}$/.test(cepInput.value)) {
            if (cepInput.value.length === 8) {
        const xhr = new XMLHttpRequest();
        xhr.open("GET", `https://cep.awesomeapi.com.br/json/${cepInput.value}`);
        xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
            const data = JSON.parse(xhr.responseText);
            errorMessage.style.display = "none";
                document.getElementById("address").value = data.address;
                document.getElementById("city").value = data.city;
                document.getElementById("district").value = data.district;
                document.getElementById("state").value = data.state;
                console.log(data)
                console.log(data.address)
                console.log(data.city)
                console.log(data.state)
            }
        
        else {
          errorMessage.style.display = "block";
          errorMessage.textContent = "CEP inválido!";
        }
      }
    };
    xhr.send();
	}
    }
    else{
        errorMessage.style.display = "block";
        errorMessage.textContent = "Digite apenas números!";
        cepInput.value = cepInput.value.replace(/[^\d]/g, "");
    }
    });
</script>

{% endblock %}