{% extends 'base.html' %}

{% load static %}

{% block title %} Reset de Senha {% endblock %}

{% block main %}

{% include 'loader.html' %}

{% include 'navbar.html' %}

{% include 'mensagens.html' %}

<div class="form-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-1 rounded-lg my-4">
                    <div class="card-header justify-content-center mycardheader">
                        <h2 class="font-weight-dark text-center">Confirmação da Nova Senha</h2>
                    </div>
                    <div class="card-body mybody">
                        <p>A sua senha foi alterada com sucesso.</p>
                        Para acessar a sua conta com a nova senha <a href="{% url 'login' %}" class="super_a">clique aqui</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
